{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.6/dist/css/autoComplete.min.css">

<h1>Content my friend</h1>

<input id="autoComplete">

<div id="review-card" class="card mb-3" hidden>
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="review-title card-title">Review Title <small class="year text-muted text-end">Year</small></h5>
        <p class="card-text"><small class="attr1 text-muted">Attribute 1</small></p>
        <p class="description card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="attr2 card-text">Attribute 2</p>
      </div>
    </div>
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.6/dist/autoComplete.min.js"></script>
<script src="{% static 'review/js/review.js' %}"></script>

<script>
    config = {
        placeHolder: "Search for Food...",
        data: {
            src: async (query) => {
                try {
                    return getSearchItems(query)
                } catch (error) {
                    console.log("Error fetching search data ", query, error)
                    return error
                }
            },
            keys: ["Title"],
        },
        placeHolder: 'Search...',
        threshold: 3,
        debounce: 300,
        resultItem: {
            element: (item, data) => {
                const item_img = document.createElement('img')
                // TODO: Add default image
                const image_url = data['value']['ImageURL']
                if (image_url == "N/A") {
                    return
                }
                item_img.src = image_url
                item_img.width = 100
                item.prepend(item_img)
            }
        },
        submit: false,
    }
    const autoCompleteJS = new autoComplete(config);

    const reviewCard = document.querySelector("#review-card")
    document.querySelector("#autoComplete").addEventListener("selection", function (event) {
        const selection = event.detail.selection.value
        const itemID = selection["ItemID"]
        updateReviewItem(itemID, reviewCard)
        console.log('Selected: ', selection, event.detail);
    });
</script>
{% endblock content %}