{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.6/dist/css/autoComplete.02.min.css">
<link rel="stylesheet" href="{% static 'review/css/review.css' %}">

<h1 class="my-4">Add Review</h1>

<div class="input-group mb-4">
  <select id="review-category" class="flex-shrink-1 form-select" aria-label="Select Category">
    <option value="movie">Movie</option>
    <option value="game">Game</option>
    <option value="anime">Anime</option>
    <option value="manga">Manga</option>
  </select>
  <input id="autoComplete" class="form-control">
</div>

<div id="review-card" class="review-card card mb-4 shadow-sm" hidden>
  <div class="d-md-flex g-0">
    <div class="review-image text-center">
      <img class="img-fluid rounded-start" alt="Poster Image" src="{{ review.image_url }}">
    </div>
    <div class="flex-grow-1">
      <div class="review-text-container card-body d-flex flex-column">
        <div class="review-card-header">
          <h4 class="review-title card-title">{{ review.title }} <small class="review-year text-muted text-end">{{ review.year }}</small></h4>
          <div>
            <p>
              <span class="review-rating">{{ review.rating }}</span><small>/10</small>⭐</span>
            </p>
          </div>
        </div>
        <p class="card-text"><small class="review-attr1 text-muted">{{ review.attr1 }}</small></p>
        <p class="review-attr2 card-text order-md-last mb-3 mb-md-0">{{ review.attr2 }}</p>
        <p class="review-description card-text flex-grow-1">
          {% if review.category == 'movie' %}{{ review.description }}{% endif %}
        </p>

      </div>
    </div>
  </div>
  <div class="review-description-below card-text">
  {% if review.category == 'game' %}
    {{ review.description | safe }}
  {% endif %}
  </div>
</div>


<form method="post" action="{% url 'review:reviews:post_review' %}" class="mb-5">
  <fieldset id="review-form" disabled>
  {% csrf_token %}

  {% for hidden in form.hidden_fields %}
  {{ hidden }}
  {% endfor %}

  <div class="row gx-5 mb-3">
    <div class="col-3">
      <div class="input-group">
        <label for="{{ form.review_rating.id_for_label }}" class="pe-4 col-form-label">Rating</label>
        <input type="number" name="{{ form.review_rating.html_name }}" class="form-control" id="{{ form.review_rating.id_for_label }}" step="0.01" min="0" max="10" aria-label="Review rating" aria-describedBy="rating-suffix">
        <span class="input-group-text" id="rating-suffix">/10</span>
      </div>
    </div>
    <div class="col">
      <div class="input-group">
        <label for="{{ form.review_tags.id_for_label }}" class="pe-4 col-form-label">Tags</label>
        <input type="text" name="{{ form.review_tags.html_name }}" class="form-control" id="{{ form.review_tags.id_for_label }}" placeholder="Extra info to search items" aria-label="Review tags">
      </div>
    </div>
  </div>
  <div class="form-floating mb-3">
    <input type="text" name="{{ form.review_data.html_name }}" class="form-control" id="{{ form.review_data.id_for_label }}" placeHolder="Review">
    <label for="{{ form.review_data.id_for_label }}">{{ form.review_data.label }}</label>
  </div>

  <button type="submit" id="post-review-button" class="btn btn-primary mt-2" value="Submit">Add Review</button>
  </fieldset>
</form>


<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.6/dist/autoComplete.min.js"></script>
<script src="{% static 'review/js/review.js' %}"></script>

<script>
  document.querySelector("#id_review_item").addEventListener('input', () => {
    document.querySelector("#review-form").removeAttribute("disabled");
  })

  config = {
    data: {
      src: async (query) => {
        const category = document.querySelector("#review-category").value;
        try {
          return getSearchItems(category, query);
        } catch (error) {
          console.log("Error fetching search data ", query, error);
          return error;
        }
      },
      keys: ["title"],
    },
    searchEngine: (query, record) => {
      return record;
    },
    placeHolder: 'Search...',
    threshold: 3,
    debounce: 300,
    resultItem: {
      element: (item, data) => {
        const item_img = document.createElement('img');
        const image_url = data['value']['image_url'];
        if (image_url == "N/A") {
            return;
        }
        item_img.src = image_url;
        item.prepend(item_img);
        item.classList.add('review-search-element');
        const year_span = document.createElement('small');
        year_span.innerText = data['value']['year'];
        item.append(year_span);
      }
    },
    submit: false,
  }
  const autoCompleteJS = new autoComplete(config);

  const reviewCard = document.querySelector("#review-card");
  document.querySelector("#autoComplete").addEventListener("selection", function (event) {
    const category = document.querySelector("#review-category").value;
    const selection = event.detail.selection.value;
    const itemID = selection["item_id"];
    populateReviewItemData(category, itemID);
    console.log('Selected: ', selection, event.detail);
  });

  let params = new URLSearchParams(location.search);
  const item_id = params.get('item_id');
  const category = params.get('category');
  if (item_id && category) {
    validateAndPopulateReviewItemData(category, item_id);
  }
</script>
{% endblock content %}