{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'review/css/review.css' %}">

<a href="{% url 'review:add_review' %}" class="fab-container d-block d-lg-none" target="_blank">
    <span>+<span>
</a>

<div class="modal fade" id="review-detail-modal" tabindex="-1" aria-labelledby="review-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
        </button>

        <h5 class="review-title-group modal-title text-center"><span class="review-title">Review Title</span> <small class="year text-muted text-end">year</small></h5>

        <button type="button" class="edit-button btn" onclick="window.location.href='/add'">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
            </svg>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
            <img class="review-image" alt="Poster Image">
            <div class="review-item-attributes mb-3">
                <div><small class="attr1">attr1</small></div>
                <div><small class="attr2">attr2</small></div>
                <div><small class="attr3">attr3</small></div>
            </div>
            <p class="review-rating">5.1⭐</p>
            <p class="review-data">Review data</p>
        </div>
        <h5 class="mt-4">Info:</h5>
        <div class="description">
            Description
        </div>
      </div>
    </div>
  </div>
</div>


<div class="filter-bar input-group my-3">
    <input type="search" id="filter-text" class="form-control" placeholder="Type to filter reviews" aria-label="Filter Reviews"/>
    <div class="btn-group">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="category-filter-dropdown" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
            </svg>
            <span class="visually-hidden">Categories</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="category-filter-dropdown">
            {% for category in categories %}
            <li>
                <div class="dropdown-item">
                    <input class="form-check-input filter-category" type="checkbox" checked value="{{ category }}" onchange="updateReviews()" id="filter-{{ category }}">
                    <label class="form-check-label filter-category-label w-100" for="filter-{{ category }}">
                        {{ category }}
                    </label>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="btn-group">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="sort-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down" viewBox="0 0 16 16">
                <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
            </svg>
            <span class="visually-hidden">Sort Reviews</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="sort-dropdown">
                <li><a class="dropdown-item active" id="sort-date" onclick="updateOrder('sort-date')">Modified Date</a></li>
                <li><a class="dropdown-item" id="sort-alpha" onclick="updateOrder('sort-alpha')">A-Z</a></li>
                <li><a class="dropdown-item" id="sort-rating-high" onclick="updateOrder('sort-rating-high')">Rating: High to Low</a></li>
                <li><a class="dropdown-item" id="sort-rating-low" onclick="updateOrder('sort-rating-low')">Rating: Low to High</a></li>
        </ul>
    </div>
</div>

<div class="text-center my-4" id="review-loading-message">
    <h3 class="display-6">Loading reviews...</h3>
</div>

<div class="row justify-content-evenly" id="review-container" >
</div>

<script src="{% static 'review/js/review.js' %}"></script>
<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>

<script>
    var reviewsData;
    var queryString='', username='{{ username }}', filterCategories=[], orderName='sort-date';
    const masonry = new Masonry('#review-container', options={
        percentPosition: true,
        horizontalOrder: false,
    });


    ORDERING_STRING_MAP = {
        "sort-date": "modified-date",
        "sort-alpha": "alpha",
        "sort-rating-high": "-rating",
        "sort-rating-low": "rating"
    }
    function updateOrder(newOrderName) {
        document.querySelector("#"+orderName).classList.remove("active");
        document.querySelector("#"+newOrderName).classList.add("active");
        orderName = newOrderName;
        updateReviews();
    }

    function populateFilterCategories() {
        filterCategories = [];
        for (var element of document.querySelectorAll(".filter-category")) {
            if (!element.checked) {
                filterCategories.push(element.value);
            }
        }
    }
    function showReviewLoading() {
        document.querySelector("#review-container").setAttribute("hidden", "");
        document.querySelector("#review-loading-message").removeAttribute("hidden");
    }
    function hideReviewLoading() {
        document.querySelector("#review-loading-message").setAttribute("hidden", "");
        document.querySelector("#review-container").removeAttribute("hidden");
    }
    function updateReviewsImpl() {
        populateFilterCategories();
        ordering = ORDERING_STRING_MAP[orderName];
        getReviews(queryString, username, filterCategories, ordering)
          .then((reviews) => {
              showReviewLoading();
              populateReviewCards('#review-container', reviews);
              imagesLoaded('#review-container', () => {
                hideReviewLoading();
                masonry.reloadItems();
                masonry.layout();
              })
          })
    }
    const updateReviews = debounce(updateReviewsImpl);

    const queryTextBox = document.querySelector("#filter-text");
    queryTextBox.addEventListener('input', (e) => {
        queryString = e.target.value;
        updateReviews();
    });

    const reviewDetailModal = document.querySelector("#review-detail-modal");
    reviewDetailModal.addEventListener("show.bs.modal", reviewDetailModalListener);

    updateReviewsImpl();

</script>


{% endblock content %}