{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'review/css/review.css' %}">

<div class="filter-bar input-group my-3">
    <input type="search" id="filter-text" class="form-control" placeholder="Type to filter reviews" aria-label="Filter Reviews"/>
    <div class="btn-group">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="category-filter-dropdown" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
            </svg>
            <span class="visually-hidden">Categories</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="category-filter-dropdown">
            {% for category in categories %}
            <li>
                <div class="dropdown-item">
                    <input class="form-check-input filter-category" type="checkbox" checked value="{{ category }}" onchange="updateReviews()" id="filter-{{ category }}">
                    <label class="form-check-label filter-category-label w-100" for="filter-{{ category }}">
                        {{ category }}
                    </label>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="btn-group">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="sort-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down" viewBox="0 0 16 16">
                <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
            </svg>
            <span class="visually-hidden">Sort Reviews</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="sort-dropdown">
                <li><a class="dropdown-item">Relevance</a></li>
                <li><a class="dropdown-item" onclick="updateOrder('alpha')">A-Z</a></li>
                <li><a class="dropdown-item" onclick="updateOrder('modified-date')">Modified Date</a></li>
                <li><a class="dropdown-item" onclick="updateOrder('-rating')">Rating: High to Low</a></li>
                <li><a class="dropdown-item" onclick="updateOrder('rating')">Rating: Low to High</a></li>
        </ul>
    </div>
</div>

<div class="row justify-content-evenly" id="review-container" >
{% for review in reviews %}
    {% if review.review_item.category == 'movie' %}
    <div class="col-4 col-lg-3 mb-4">
    {% else %}
    <div class="col-8 col-lg-6 mb-4">
    {% endif %}
        <div class="card review-card">
            <img src="{{ review.review_item.image_url }}" class="card-img-top" alt="Poster Image">
            <div class="card-body">
                <h5 class="card-title">{{ review.review_item.title }}</h5>
                <p class="card-text"><small class="attr1 text-muted">{{ review.review_item.attr1 }}</small></p>
                <p class="description card-text">{{ review.review_data }}</p>
                <p class="rating card-text">{{ review.review_rating }}⭐</p>
            </div>
        </div>
    </div>
{% endfor %}
</div>

<script src="{% static 'review/js/review.js' %}"></script>
<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>

<script>
    var reviewsData;
    var queryString='', username='{{ username }}', filterCategories=[], ordering='';
    const masonry = new Masonry('#review-container', options={
        percentPosition: true,
        horizontalOrder: false,
    });

    function updateOrder(order) {
        ordering = order;
        updateReviews();
    }

    function populateFilterCategories() {
        filterCategories = [];
        for (var element of document.querySelectorAll(".filter-category")) {
            if (!element.checked) {
                filterCategories.push(element.value);
            }
        }
    }
    function updateReviewsImpl() {
        populateFilterCategories();
        getReviews(queryString, username, filterCategories, ordering)
          .then((reviews) => {
              populateReviewCards('#review-container', reviews);
              imagesLoaded('#review-container', () => {
                masonry.reloadItems();
                masonry.layout();
              })
          })
    }
    const updateReviews = debounce(updateReviewsImpl);

    const queryTextBox = document.querySelector("#filter-text");
    queryTextBox.addEventListener('input', (e) => {
        queryString = e.target.value;
        updateReviews();
    })

    updateReviewsImpl();

</script>


{% endblock content %}