body {
    background: aliceblue;
}

footer {
    background-color: #3f51b5;
    color: rgb(243, 243, 243);
}
footer a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
footer a:hover {
    color: rgb(255, 255, 255);
}
.footer-bottom {
    background-color: rgba(0, 0, 0, 0.2);
}
