:root {
    --background-color: #EEEEEE;
    --primary-color: #00ADB5;
    --primary-shadow-color: #00acb559;
    --secondary-color: #393E46;
    --foreground-color: #222831;
    --foreground-shadow-color: #22283113;
}