/* Review search bar */
.filter-category-label {
    text-transform: capitalize;
}
.dropdown-item {
    cursor: pointer;
}
.dropdown-item > * {
    cursor: pointer;
}


/* Add reviews page */

/* Review item search */
#review-category {
    width: unset;
    flex: unset;
}
.autoComplete_wrapper {
    flex-grow: 1!important;
}
#autoComplete {
    width: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: unset;
}
#autoComplete_list_1 {
    max-height: 70vh;
}
.review-search-element > img {
    max-width: 5em;
    max-height: 5em;
    margin-right: 0.5em;
}
.review-search-element > small {
    margin-left: 0.5em;
}

/* Review item card */
.review-image > img {
    max-width: 20em;
    max-height: 20em;
}
.review-text-container {
    height: 100%;
}
.review-card-header {
  display: flex;
  justify-content: space-between;
}
.review-description-below {
  padding: 1em;
}
.review-attr2 {
  margin: 0;
  color: #606060;
}
