/* View reviews page */
/* Review search bar */
.filter-category-label {
    text-transform: capitalize;
}
.dropdown-item {
    cursor: pointer;
}
.dropdown-item > * {
    cursor: pointer;
}

.review-card-expandable:hover {
    cursor: pointer;
}

#review-detail-modal img {
    max-width: 60%;
    max-height: 20em;
}
#review-detail-model .btn {
    margin: -0.5rem;
}

/* FAB */
.fab-container {
    position: fixed;
    width: 5rem;
    height: 5rem;
    bottom: 40px;
    right: 40px;
    background-color: var(--primary-color);
    color: var(--background-color);
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    box-shadow: 2px 2px 3px var(--primary-shadow-color);
    z-index: 100;
}
.fab-container:link,
.fab-container:visited,
.fab-container:hover,
.fab-container:focus,
.fab-container:active {
    color: var(--background-color);
}
.fab-container span {
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}


/* Add reviews page */

/* Review item search */
#review-category {
    width: unset;
    flex: unset;
}
.autoComplete_wrapper {
    flex-grow: 1!important;
}
#autoComplete {
    width: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: unset;
}
#autoComplete_list_1 {
    max-height: 70vh;
}
.review-search-element > img {
    max-width: 5em;
    max-height: 5em;
    margin-right: 0.5em;
}
.review-search-element > small {
    margin-left: 0.5em;
}

/* Review item card */
.review-card {
    transition: 0.3s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.review-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.review-image > img {
    max-width: 20em;
    max-height: 20em;
}
.review-text-container {
    height: 100%;
}
.review-card-header {
  display: flex;
  justify-content: space-between;
}
.review-description-below {
  padding: 1em;
}
.review-attr2 {
  margin: 0;
  color: #606060;
}
