<footer class="text-center">

<div class="container">
    <section class="pt-4 pb-3">
        <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
            <p>
                Code hosted on
                <a href="https://github.com/batman-nair/CriticApp">Github</a>.
                Data sources:
                <a href="https://www.omdbapi.com/">OMDb</a>,
                <a href="https://jikan.moe/">Jikan</a>,
                and
                <a href="https://rawg.io/">RAWG</a>.
            </p>
        </div>
        </div>
    </section>
</div>

<div class="footer-bottom p-3">
    Built by
    <a href="https://batmannair.com">
    Arjun Nair
    </a>
</div>

</footer>